#Dashboard .dashboard-body {
    width: 75vw;
    display: inline-block;
    margin-top: 6%;
    margin-left: 21%;
}

#CostStatistics {
    width: 100%;
    display: inline-block;
    border-radius: 15px;
    background-color: #fafafa;
    box-shadow: 0px 3.5px 5.5px 0px rgba(0, 0, 0, 0.02);
    margin: 0 8px;
    padding: 14px;
    padding-right: 0;
}

#CostStatistics > * {
    width: 100% !important;
    height: auto !important;
}

#Dashboard .bottom-container {
    margin: 24px;
}

#Dashboard #BestSellerProduct {
    margin: 50px 0;
}

#BestSellerProduct .best-seller-prod-title {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
}

table.best-seller-prod-body * {
    font-size: 20px;
}

table.best-seller-prod-body th {
    padding: 8px 20px;
    font-size: 20px;
}

table.best-seller-prod-body td {
    text-align: left;
}

table.best-seller-prod-body td.product-code,
table.best-seller-prod-body td.product-quantity {
    text-align: center;
}

table.best-seller-prod-body td.product-name {
    display: flex;
    align-items: center;
}

#Dashboard #Inventory {
    margin: 50px 0;
}

#Inventory .inventory-prod-title {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
}

#Inventory .inventory-prod-title {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
}

table.inventory-prod-body * {
    font-size: 20px;
}

table.inventory-prod-body th {
    padding: 8px 20px;
    font-size: 20px;
}

table.inventory-prod-body td {
    text-align: left;
}

table.inventory-prod-body td.product-code,
table.inventory-prod-body td.product-quantity {
    text-align: center;
}

table.inventory-prod-body td.product-name {
    display: flex;
    align-items: center;
}
