#SideBar {
    width: 17%;
    height: 100vh;
    border-right: 1px #afafaf solid;
    box-shadow: 2px 2px 10px #cfcfcf;
    padding: 0 24px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    background-color: #fff;
}

#SideBar .navigation a.nav-item {
    display: block;
}

#SideBar .navigation .nav-item.active {
    box-shadow: 4px 4px 12px #bfeefe;
    transform: scale(1.05);
    border-radius: 8px;
    background-color: #fefefe;
}

#SideBar span {
    font-size: 18px;
}

.brand-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.brand-logo img.logo-text {
    width: 100%;
}

.brand-logo img.lotus {
    width: 12%;
    margin-top: -6%;
}

.navigation {
    margin-top: 16px;
    margin-bottom: 8px;
}

.navigation .nav-item {
    margin: 10px 0;
    padding: 18px 9px;
    transition: transform 0.3s;
}

.navigation .nav-item:hover,
.logout:hover {
    cursor: pointer;
    opacity: 0.9;
    box-shadow: 4px 4px 12px #bfeefe;
    transform: scale(1.05);
    border-radius: 8px;
    background-color: #fefefe;
}

.nav-item i {
    margin-right: 8px;
}

.logout-container {
    border-top: 1px #afafaf solid;
    margin: 12px 0;
}

.logout-container a.logout {
    display: block;
    margin: 10px 0;
    padding: 18px 9px;
    transition: transform 0.3s;
}

.logout i {
    margin-right: 8px;
}
